/**
 * Base
 */

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $base_font_family;
  font-size: $base_font_size;
  line-height: $base_line_height;
  font-weight: 400;
  color: lighten(color('black'), 10%);
  background: color('white');
}

a {
  &:hover {

  }
}

::-moz-selection {
  background: #ff0;
  text-shadow: none;
}

::selection {
  background: #ff0;
  text-shadow: none;
}



/**
 * Headlines
 */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: fontFamily('headline');
  font-size: fontSize('base');
  font-weight: 700;
  margin: vr(2) 0 vr(1) 0;
}

h1, .h1 {
  font-size: fontSize('xl');
  line-height: vr(3);
}

h2,.h2 {
  font-size: fontSize('l');
  line-height: vr(2);
}

h3, .h3 {
  font-size: fontSize('m');
  line-height: vr(1);
}

h4, .h4 {
  font-size: fontSize('base');
}



/**
 * Text
 */

p,
ul,
ol,
pre,
table,
blockquote {
  margin: 0 0 vr(1) 0;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: disc outside;
  padding-left: 60px;
}

ol {
  list-style: decimal outside;
  padding-left: 60px;
}

hr {
  border: 1px solid color('black');
  margin: vr(1)-1px 0;
  height: 0;
}



/**
 * Images
 */

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}