/*------------------------------------*\

  #Page not found

\*------------------------------------*/

.pageNotFound {
  @include col(12);
  @include center();
  text-align: center;
  padding-top: 160px;
  padding-bottom: 80px;

  @include breakpoint('medium') {
    @include col(8);
    @include center();
  }
}