/*------------------------------------*\

  #Stack Details

\*------------------------------------*/

.stackDetails {
  float: left;
  clear: both;
  width: 100% !important;
  max-width: none !important;
  position: relative;
  background: color('white');
  color: color('blue');
  //box-shadow: -50vw 0 0 color('white'), 50vw 0 0 color('white');
  text-align: left;
  margin: 80px 0 0 -100% !important;
  padding: 0 100% 40px 100% !important;
  display: none;
  box-sizing: content-box;
}

.stackDetails .stackDetails__close {
  position: absolute;
  right: 0;
  top: 40px;
  width: 60px;
  height: 60px;
  background: color('white');
  margin: 0 0 0 0;
  border-radius: 100px;
  opacity: 0;
  transition: all ms('slow') ms('fast');

  span {
    background: color('blue');
    width: 6px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -3px;
    transform: rotate(-45deg);

    &:last-child {
      transform: rotate(45deg);
    }
  }
}

.stackDetails.is_open .stackDetails__close {
  opacity: 1;
}

.stackDetails .stackDetails__wrapper {
  @include row();
  opacity: 1;
  position: relative;
  padding-top: 120px;
  transition: opacity ms('slow');

  @include breakpoint('small') {
    @include col(12, no);
    @include center();
    padding-top: 120px;
  }

  .arrow {
    top: -40px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: color('white');
    border-width: 20px;
    margin-left: -20px;
    opacity: 1;
    transition: all ms('medium') ms('fast') cubic-bezier(0.4, 0, 0.2, 1);

    @include breakpoint('small') {
      top: -60px;
      border-width: 30px;
      margin-left: -30px;
    }
  }
}

.stackDetails.is_open .stackDetails__wrapper {
  opacity: 1;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   background: color('white');
  //   bottom: -80px;
  //   left: 0;
  //   width: 100%;
  //   height: 80px;
  // }
}


/**
 * Content
 */

.stackDetails__content {
  @include col(12, no);
  @include center();
  box-sizing: border-box;

  hgroup {
    @include col(12);
    margin: 20px 0 40px 0;

    h4 {
      color: color('red');
    }
  }

  .col {
    @include col(12);

    @include breakpoint('small') {
      @include col(6);

      &--full {
        @include col(12);
      }
    }

    strong {
      color: color('red');
    }
  }
}

.stackDetails__content .stackDetails__gallery {
  @include col(12, no);
  margin: 20px 0 0 0;

  li {
    @include col(6);
    margin: 0 0 30px 0;

    @include breakpoint('small') {
      @include col(4);
    }

    @include breakpoint('medium') {
      @include col(3);
    }

    a {
      display: block;
      border: border('solid--white--6');
      background: color('blue');
      overflow: hidden;
      box-shadow: 0 0 5px rgba(color('black'), .15), 0 2px 2px rgba(color('black'), .25), inset 0 0 100px color('black');
      position: relative;

      &::after {
        content: "";
        background: url('../images/details.svg') center center no-repeat;
        background-size: 100% auto;
        width: 60px;
        height: 60px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -10px 0 0 -30px;
        opacity: 0;
        transition: all ms('medium') cubic-bezier(0.4, 0, 0.2, 1);
      }

      img {
        opacity: 1;
        transition: all ms('fast') cubic-bezier(0.4, 0, 0.2, 1);
      }

      &:hover {
        &::after {
          opacity: 1;
          margin: -30px 0 0 -30px;
        }

        img {
          opacity: 0.25;
        }
      }
    }
  }
}